fastapi==0.141.1
uvicorn==0.53.0
pydantic==2.13.5
pydantic-settings==2.15.0
SQLAlchemy==2.0.44
psycopg2-binary==2.9.13
alembic==1.16.5
redis==8.1.0
asyncpg==0.30.0
flake8==7.4.1
flake8-quotes==3.4.0
pep8-naming==0.15.1
flake8-bugbear==26.9.9
flake8-variables-names==0.0.6
tzdata==2026.4
stripe==16.0.0
