// ======================================================
// Global breakpoints
// ======================================================

$breakpoint-desktop: 1500px;
$breakpoint-tablet: 1250px;
$breakpoint-mobile: 600px;

// ======================================================
// Component-specific breakpoints
// ======================================================

$breakpoint-header-compact: 1024px;
$breakpoint-footer-tablet: 1000px;
$breakpoint-hero-stats: 1200px;
