// ======================================================
// Border radius
// ======================================================

$border-radius-pill: 12px;

$border-radius-menu: 32px;

$border-radius-footer: 28px;
$border-radius-footer-mobile: 24px;

$border-radius-hero: 32px;
