// ======================================================
// Transitions
// ======================================================

$transition-duration: 0.2s;
$transition-default: $transition-duration ease;

$transition-duration-slow: 0.3s;
