// ======================================================
// Arrow button
// ======================================================

$arrow-button-size: 48px;
$arrow-button-icon-size: 14px;

$arrow-button-border-width: 1px;
