// ======================================================
// Avatar sizes
// ======================================================

$avatar-border-radius: 50%;

$avatar-size-small: 32px;
$avatar-size-medium: 44px;
$avatar-size-large: 64px;

// ======================================================
// Avatar group
// ======================================================

$avatar-group-border-width: 2px;
$avatar-group-overlap: -14px;
