// ======================================================
// Hero layout
// ======================================================

$hero-padding-inline: clamp(12px, 1.5vw, 30px);

$hero-container-gap: 48px;
$hero-container-height: 785px;

$hero-overlay-color: rgb(29 30 29 / 64%);

$hero-region-title-gap: 24px;
$hero-region-title-max-width: 1000px;

// ======================================================
// Hero colors
// ======================================================

$hero-color-text-light: #ffffff;
$hero-color-text-muted: #ecece3;

$hero-color-pill-bg: rgb(250 248 238 / 15%);
$hero-color-pill-border: rgb(250 248 238 / 25%);

// ======================================================
// Hero badge
// ======================================================

$hero-badge-gap: 8px;

$hero-badge-border-width: 1px;

$hero-badge-padding-block: 8px;
$hero-badge-padding-inline: 16px;

$hero-badge-icon-width: 14px;

// ======================================================
// Hero title
// ======================================================

$hero-title-padding-inline: 20px;

// ======================================================
// Hero subtitle
// ======================================================

$hero-subtitle-padding-inline: 20px;

// ======================================================
// Hero search
// ======================================================

$hero-search-field-width: 80%;

$hero-search-input-padding-block: 24px;
$hero-search-input-padding-left: 65px;
$hero-search-input-padding-right: 146px;

$hero-search-hover-outline-width: 2px;
$hero-search-hover-outline-offset: 2px;

$hero-search-icon-offset-left: 25px;

$hero-search-button-offset-right: 8px;
$hero-search-button-inset-block: 16px;

// ======================================================
// Hero tags
// ======================================================

$hero-tags-gap: 16px;

$hero-region-tags-padding-inline: 20px;

$hero-tag-padding-block: 8px;
$hero-tag-padding-inline: 16px;

$hero-tag-hover-scale: 1.1;
