// ======================================================
// Radio button
// ======================================================

$radio-button-size: 24px;
$radio-button-border-width: 1.5px;

// ======================================================
// Radio button check
// ======================================================

$radio-button-check-width: 7px;
$radio-button-check-height: 11px;
$radio-button-check-border-width: 2px;

$radio-button-check-top: 4px;
$radio-button-check-left: 8px;
