// ======================================================
// Section index
// ======================================================

$section-index-gap: 8px;

// ======================================================
// Section index line
// ======================================================

$section-index-line-height: 1.5px;
$section-index-line-width: 72px;
