// ======================================================
// Time slot layout
// ======================================================

$time-slot-height: 36px;

$time-slot-gap: 8px;

$time-slot-padding-block: 5px;
$time-slot-padding-inline: 12px;

// ======================================================
// Time slot typography
// ======================================================

$time-slot-font-size: 14px;
$time-slot-font-weight: 500;
$time-slot-line-height: 19px;

// ======================================================
// Time slot border
// ======================================================

$time-slot-border-width: 1px;
$time-slot-border-radius: 8px;
