@use '../../styles/abstracts' as a;
@use '../../styles/components' as c;

.navigation {
    display: flex;
    align-items: center;
    gap: c.$navigation-gap;

    &__link {
        display: inline-flex;
        align-items: center;

        height: c.$header-height;

        color: a.$color-primary;

        font-family: a.$font-family-primary;
        font-size: a.$font-size-button-medium;
        font-weight: a.$font-weight-button-medium;
        line-height: a.$line-height-button-medium;

        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

@media (max-width: a.$breakpoint-tablet) {
    .navigation {
        flex-direction: column;
        align-items: stretch;

        width: 100%;
        gap: 0;

        &__link {
            width: 100%;
            height: auto;

            padding: c.$navigation-link-mobile-padding;
        }
    }
}
